.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  justify-content: flex-start;
  padding: 3rem;
  margin-top: 8px;
}

.container {
  padding: 0 6rem;
}

.content {
  font-size: 18px;
}


@media only screen and (max-width: 600px) {
  .container {
    padding: 0 2.5rem;
  }

}